.App {
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(8px + 2vmin);
	color: white;
}

/* APP */
h1 {
	font-family: "Patua One", cursive;
	font-size: 48px;
	letter-spacing: 4px;
}

h1,
h2,
p,
section,
button {
	margin: 20px 0;
}
button {
	width: 235px;
	height: 55px;
	border-radius: 5px;
	background: #2fdd92;
	border: none;
	font-family: inherit;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	padding: 0;
}
button:active,
button:hover {
	background: #6de7b3;
}
.blue {
	background: #3db2ff;
}
.blue:active,
.blue:hover {
	background: #77c9ff;
}
.yellow {
	background: #fee440;
}
.yellow:active,
.yellow:hover {
	background: #feec79;
}
.red {
	background: lightcoral;
}
.red:active,
.red:hover {
	background: lightcoral;
}
/* CARDS */
section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
	min-height: 210px;
}
.card {
	width: 157px;
	height: 210px;
	border-radius: 10px;
}
/* NAV */
nav {
	/* position: absolute; */
	width: 100%;
	margin-top: 0;
}
.target {
	color: aliceblue;
	font-size: 14px;
	font-weight: 500;
	text-decoration: underline;
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	margin-right: 40px;
}
.overlay {
	height: 100vh;
	background-color: #282c34;
	margin-top: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.modal {
	max-width: 600px;
	height: 300px;
	margin: 0 auto;
	background-color: #24282f;
	border-radius: 10px;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	top: 20%;
}
.modal p {
	font-size: 14px;
	margin: 5px;
}
.modal-btn {
	margin-top: 30px;
}
h3 {
	margin-top: 0;
	padding: 5px;
	width: max-content;
	border-bottom: 1px solid #2fdd92;
}
.yes {
	display: block;
}
.no {
	display: none;
}
